
<div class="outer">
  <div class="main-beav">
    <%= image_tag('chop_beaver.png')%>
    <h2>Hell yeah</h2>
    <p>
      A fucking beaver started this app.
    </p>

    <a class="btn">
      Signup
    </a>

  </div>
</div>
