<div class="outer">
  <div class="main-beav">
    <%= image_tag('chop_beaver.png')%>
    <h1>404</h1>
    <p>
      A fucking beaver lead you here....
    </p>

    <%= link_to 'Home', root_path, class: 'btn' %>

  </div>
</div>
