<div class="outer" style="background: rgb(25, 87, 94)">
  <span class='arrow enter' onclick="location.href = '/';">â†</span>
  <div class="main-beav">
    <%= image_tag('chop_beaver.png')%>
    <h2>Forms</h2>
    <p>
      A fucking form builder....
    </p>

    <%= link_to root_path, class: 'btn' do %>

      End
    <% end %>

  </div>
</div>
